<launch>
    <!-- Simülasyon zamanı için -->
    <param name="use_sim_time" value="true"/>
    <node pkg="tf" type="static_transform_publisher" name="static_map_to_odom" args="0 0 0 0 0 0 map odom 100"/>
    
    <node name="map_server" pkg="map_server" type="map_server" args="$(find youbot_gazebo_worlds)/maps/map.yaml" />


    <!-- GMapping Node -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
        <!-- Frame Ayarları -->
        <param name="map_frame" value="map"/>
        <param name="odom_frame" value="odom"/>
        <param name="base_frame" value="base_link"/>
        <param name="transform_publish_period" value="0"/>
        <!-- Topic Remap -->
        <remap from="scan" to="/scan_front"/>
    </node>
</launch>
